body {
  background-color: #f1f2eb;
  font-family: "Roboto", sans-serif;
}
a {
  color: #1585ce;
}
.initial-text {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}
.search-container {
  position: relative;
  width: 300px;
}
.search-input {
  width: 200%;
  background: #faf7ee;
  color: #27214266;
  display: inline-block;
  font-size: 16px;
  padding: 10px 33px;
  border: none;
  border-radius: 6px;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 270px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(./search.png);
  background-size: 15px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.top-text {
  margin: 10px;
  margin-right: 19px;
}

.weather-emoji {
  width: 80px;
  height: 80px;
  margin-bottom: -30px;
  margin-left: -20px;
  margin-right: -10px;
}
.temp-contain {
  margin-top: 80px;
}
.right-text {
  color: white;
  vertical-align: bottom;
  text-shadow: 1px 1px 1px black;
  margin: 0px;
  margin-bottom: 5px;
  font-weight: 450;
}

.weather-temperature-number {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  color: white;
}
.weather-unit {
  text-shadow: 1px 1px 1px black;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  line-height: 1;
  position: relative;
  top: -15px;
  margin-left: -4px;
}
.card-title {
  font-size: 20px;
}

.card-subtitle {
  font-size: 14px;
}

.weather-app {
  background: white;
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px #41326414;
}

.weather-info {
  max-width: 1000px;
  background-image: url("./back.png");
  background-position: 50% 70%;
  background-size: 150%;
  background-repeat: no-repeat;
  padding: 20px;
  padding-bottom: 5px;
  margin: 10px auto;
  border-radius: 10px;
}
.city-title {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 48px;
  text-shadow: 2px 2px 4px black;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 17px;
}

.list-items {
  display: flex;
  justify-content: space-between;
}

.list-item {
  padding: 10px;
  width: 100%;
  margin: 10px;
  background: #f4f2ec;
  border-radius: 12px;
  box-shadow: 0 30px 50px #41326414;
}

footer {
  color: #27214266;
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}
